<!DOCTYPE html>
<html>
    <head>
        <title>My Blog</title>

        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
            <h2><a href='/blog'>Main Blog Page</a>
                <a href='/newpost'>Add a new Post</a>
                <a href='/'>Home</a>
            </h2>

            <div style='float: right'>
                {% if 'user' in session %}
                  {{ session['user'] }}
                  <form action="/logout" method="post" id='logout'>
                    <input type="submit" value="Log Out" />
                  </form>
                {% else %}
                  <a href="login">login</a> | <a href="signup">register</a>
                {% endif %}
              </div>
              <h1>
        {% block content %}
        
        {% endblock %}

    </body>
</html>